<nav class="nav">
    <h1><a>E-COMMERCE</a></h1>
    <div class="nav-search" (clickOutside)="hideDropdown()" style="position: relative;">
        <input type="text" placeholder="Search for Products" [(ngModel)]="searchText" (input)="onSearchChange()"
            (focus)="onSearchFocus()" />
        <!-- <button (click)="performSearch()">Search</button> -->

        <ul class="search-dropdown" *ngIf="showDropdown && filteredProducts.length > 0">
            <li *ngFor="let product of filteredProducts">
                <a [routerLink]="['/details', product.id]">
                    {{ product.name }}
                </a>
            </li>
        </ul>
    </div>
    <nav class="nav-bar">
        <a *ngIf="isLoggedIn" routerLink="/cart" class="nav-item cart-container">
            <i class="fas fa-shopping-cart"></i>
            <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
            <span>Cart</span>
        </a>

        <a *ngIf="isLoggedIn" class="nav-item">
            <i class="fas fa-user-circle"></i>
            <span>{{currentUser.name | uppercase}}</span>
        </a>

        <a *ngIf="isLoggedIn" routerLink="/seller-home" class="nav-item">
            <i class="fas fa-tag"></i>
            <span>Sell</span>
        </a>

        <button *ngIf="isLoggedIn" (click)="logout()" class="nav-item logout-btn">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </button>
    </nav>
    <button *ngIf="!isLoggedIn" routerLink="/user-auth" class="nav-item">
        <i class="fas fa-user-plus"></i>
        <span>Sign Up</span>
    </button>
</nav>