<div class="row search-item" *ngFor="let item of searchResult">
    <div class="col-sm-3">
        <a routerLink="/details/{{item.id}}">
            <img src="{{item.image}}" alt="">
        </a>
    </div>
    <div class="col-sm-8 details">
        <h6>name: {{item.name}}</h6>
        <p><b>price: {{item.price}}</b></p>
        <p>
            <span>Color: {{item.color}}</span>
            <span>Category: {{item.category}} </span>
        </p>
        <p>A Product Search UI</p>
    </div>
</div>